.video-card-container {
    position: relative;
    width: 89%;
    margin: auto;
    height: 9.5vw;
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    cursor: pointer;
}

.video-card {
    position: relative;
    min-width: calc(100%/5 - 15px);
    width: calc(100%/5 - 15px);
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background: #2C2E3A;
    border: 3px solid #434550;
    box-shadow: 0px 10px 10px #06070B;
}

.video-card-image,
.card-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-card-image {
    position: relative;
    width: 25px;
    min-height: 130px;
}

@media screen and (max-width: 1000px) {
    .video-card-image {
        width: 5px;
        min-height: 25px;
    }
}

.card-video {
    position: absolute;
}

.video-card:hover {
    transform: scale(1.05);
}

.video-card:hover .card-video {
    opacity: 1;
}

.video-card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
    opacity: 1;
}

.card-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    z-index: 0;
}