header {
    background-color: transparent;
}

.color {
    background-color: #050408;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    letter-spacing: 2px;
}

#Menu {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-right: auto;
    margin-left: 32px;
}

img {
    height: 75%;
    width: 73px;
    padding: 0;
    margin-top: 4px;
    max-height: 70px;
    font-size: 0;
    display: inline-block;
}

#Menu a {
    display: inline;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 5px;
}

#Menu a img {
    height: 20px;
    min-width: 20px;
    width: 20px;
    margin-bottom: -5px;
    margin-right: 10px;
}

#Menu a span {
    color: #ffffff;
    font-size: 12.4px;
    font-weight: bold;
    letter-spacing: 1.15px;
    line-height: 1.08;
    padding: 2px 0px;
    position: relative;
}

#Menu a:hover span::after {
    content: "";
    display: block;
    height: 2.5px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: -7px;
    left: 0;
    transition: width 0.2s ease-in-out;
}

#Menu a span::after {
    content: "";
    display: block;
    height: 2.5px;
    width: 0%;
    background-color: white;
    position: absolute;
    bottom: -7px;
    left: 0;
    transition: width 0.2s ease-in-out;
    pointer-events: none;
}

@media screen and (max-width: 765px) {
    #Menu {
        margin-left: 23px;
    }
        
    #Menu a {
        display: inline;
        align-items: center;
        margin: 0 10px;
        margin-bottom: 5px;
    }
    
    #Menu a img {
        height: 20px;
        min-width: 20px;
        width: 20px;
        margin-bottom: -5px;
        margin-right: 10px;
    }
    
    #Menu a span {
        color: #ffffff;
        font-size: 0px;
        font-weight: bold;
        letter-spacing: 1.15px;
        line-height: 1.08;
        padding: 2px 0px;
        position: relative;
    }
    
    #Menu a:hover span::after {
        content: "";
        display: block;
        height: 2.5px;
        width: 100%;
        background-color: white;
        position: absolute;
        bottom: -7px;
        left: 0;
        transition: width 0.2s ease-in-out;
    }
    
    #Menu a span::after {
        content: "";
        display: block;
        height: 2.5px;
        width: 0%;
        background-color: white;
        position: absolute;
        bottom: -7px;
        left: 0;
        transition: width 0.2s ease-in-out;
        pointer-events: none;
    }
}


.profile {
    position: fixed;
    display: inline-flex;
    right: 0px;
    margin: 0;
    height: 0%;
    transition: height 0.4s ease-in-out;
    cursor: pointer;
    z-index: 1;
}

.profile:hover {
    display: inline-block;
}

.avatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.profile-selected {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-selected .avatar {
    margin: 20px;
}

.profile:hover p {
    display: inline;
}

.profile p {
    color: white;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: normal;
}

.profile:hover {
    top: 0;
    right: 0;
    width: 260px;
    border-right: 1px solid rgb(82, 82, 82);
    border-left: 1px solid rgb(82, 82, 82);
    border-bottom: 1px solid rgb(82, 82, 82);
    background: #131313;
    height: 680px;
    animation-name: viewprofiles;
    animation-duration: 0.3s;
}

@keyframes viewprofiles {
    0% {
        top: 0px;
        opacity: 0%;
    }

    50% {
        opacity: 55%;
    }

    100% {
        top: 0px;
        opacity: 100%;
    }
}

.profile:hover .profile-selected {
    border-bottom: 1px solid rgb(82, 82, 82);
}

.profile-nav {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 12%;
    left: -15%;
}

.opciones {
    position: relative;
    left: 10%;
    margin-top: 13%;
    margin-bottom: 10px;
    font-size: 14px;
}

.profile:hover .profile-nav {
    display: block;
}

.profile-nav-profiles p {
    color: white;
    margin-left: 5px;
    font-size: 14px;
}

.header li {
    list-style: none;
}

.profile-nav-profiles li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.profile-nav-profiles img {
    margin-top: 15px;
    margin-left: 15px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
}

main {
    margin-top: 100px;
}

header.sticky {
    transform: translateY(-100%);
}