.SliderContainer {
    position: relative;
    width: 100%;
    height: 390px;
    padding: 20px 0;
    overflow-x: hidden;
    margin-top: 78px;
}

.carousel {
    display: flex;
    width: 89%;
    height: 100%;
    position: relative;
    margin: auto;
    cursor: pointer;
}

.slider {
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 1s;
    overflow: hidden;
    vertical-align: top;
    box-shadow: 0px 10px 10px #06070B;
}

.slider img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
}

.slider img:hover {
    border: 4px solid white;
}


.prev,
.next {
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    z-index: 2;
    border: none;
    cursor: pointer;
    outline: none;
}

.prev {
    left: 0;
    background: transparent;
}

.next {
    right: 0;
    background: transparent;
}

.prev img,
.next img {
    width: 20px;
    height: 30px;
    opacity: 0;
}

.prev:hover img,
.next:hover img {
    opacity: 1;
}